<!DOCTYPE html>
<html lang="en">

<head>

<!-- BattleFrogs is a React JSX based Battleship Game coded by github . com / BodeRiis
using the 'Hunt (with Parity)/Target' algorithm described by Nick Berry here:
www . datagenetics . com / blog / december32011 /  -->


    <title>Battlefrogs</title>

<meta name="keywords" content="battleship, BattleFrogs">


<!-- Imports Bootstrap-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- Importing FontAwesome For Small Icon Implmentation (e.g User Cog Icon) -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

<!-- Imports jQuery-->
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Lato:700|Poppins&display=swap" rel="stylesheet">
<link href="/static/styles/general.css" rel="stylesheet" type="text/css">

{% block head_content %}
{% endblock %}

</head>

<body>

<div class="wrapper container">
    <h1>The HTML Page is loading</h1>
    <i class="fa fa-frog" aria-hidden="true"></i>
    <div id="root">
    </div>
</div>

<script src="/static/react.development.js"></script>
<script src="/static/react-dom.development.js"></script>
<script src="/static/babel-standalone.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script type="text/jsx" src="/static/js/battlefrogsjsx.jsx"></script>


</body>
</html>

